.App {
  text-align: center;
  padding-top: 36px;
}

.searchForm-Wrapper{
  display:flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 5px;
}

.MovieList{
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
  padding: 16px
}

.MovieList-Item{
  margin-bottom: 24px;
  width: 48%;
  height: 48%;
}